# Makefile
temp/

# OSX
.DS_Store

# VSCode Settings
.vscode/

# VSCode Latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc

# BibTex
*.bib.bak
*.bib.sav

# Node
src/CoAP_Client/node_modules
src/CoAP_Server/node_modules
src/CoAP_Manipulation/node_modules