<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">I4.0 MONITORING</div>
    <ul class="list-unstyled components">
        <li>
            <a href="/">Dashboard</a>
        </li>
        <li>
            <a href="/help">Hilfe</a>
        </li>
    </ul>
</nav>