<% include partials/header.ejs %>   
<% include partials/sidebar.ejs %>

<!-- Page Content  -->
<div id="content">
    <h2>Hilfe</h2>
    <div class="line"></div>
    <div class="card">
        <div class="card-body">
            Lorem ipsum
        </div>
    </div>
</div>

<% include partials/footer.ejs %>